

.icon-bar {
    display: flex;
    flex-direction: row;
    background-color: #eeefea;
    
}

.a1 {
    padding: 20px;
}

.icon-bar {
    flex-grow: 9;
    padding: 10px;
    flex-direction: row-reverse;
}

.logo {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    background-color: #eeefea;
}

.active1 {
    margin: 10px 20px 10px 20px;
    /*color: ;*/
}

.active2 {
    margin: 10px 20px 10px 20px;
}

.active3 {
    margin: 10px 20px 10px 20px;
}

.content {
    display: flex;
    flex-direction: row;
}

.topic {
    display: flex;
    flex-direction: row;
}

.data {
    display: flex;
}

.content {
    flex-direction: column;
    padding: 20px;
    background-color: #cddcdf;
}

.topic {
    margin: 10px;
    padding: 10px;
    justify-content: center;
    color: #424e6a;
}

.footer {
    margin: 10px 50px 0 50px;
    padding: 10px;
    text-align: center;
    width: 95%;
}

.data {
    flex-flow: row wrap;
    text-align: center;
    padding: 60px;
    justify-content: space-around;
    margin: 65px;
    padding: 10px;
    

}

.square1 {
    width: 250px;
    height: 300px;
    margin: 20px;
    background-color: #527590;
}

.square2 {
    width: 250px;
    height: 300px;
    margin: 20px;
    background-color: #527590;
}

.square3 {
    width: 250px;
    height: 300px;
    margin: 20px;
    background-color: #527590;
}

.square4 {
    width: 250px;
    height: 300px;
    margin: 20px;
    background-color: #527590;
}

.inform1 {
    margin: 10px;
    color: white;
}

.inform2 {
    margin: 10px;
    color: white;
}

.inform3 {
    margin: 10px;
    color: white;
}

.inform4 {
    margin: 10px;
    color: white;
}

.img1 {
    margin: 10px;
    text-align: center;
}

.img2 {
    margin: 10px;
    text-align: center;
}

.img3 {
    margin: 10px;
    text-align: center;
}

.img4 {
    margin: 10px;
    text-align: center;
}
.active1{
    color: #fcb293;
}
.active2{
    color: #fcb293;
}
.active3{
    color: #fcb293;
}
